html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  color: black;
}

#main-div {
  margin-top: 35px;
  margin-bottom: 35px;
}

.large-input {
  font-size: 20px
}

.comment-input {
  font-size: 16px
}

.idea-heading {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
}

.project-heading {
  font-size: 20px;
  padding-right: 2%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.input-group-addon {
  min-width:55px;
  text-align:center;
}

.new-comment .input-group-addon {
  min-width:40px;
}

.comments {
  padding-top: 15px;
}

.comments ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 1%;
  padding-right: 1%;
}

.comments ul li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  overflow: hidden;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer .footer-div {
  margin: 15px 0;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.panel-group .panel {
  overflow: visible;
}

.idea-list {
  margin-top: 30px;
  zoom: 0.8;
}

.project-list {
  margin-top: 30px;
  zoom: 0.8;
}

.static-text strong {
  font-family: 'Roboto', 'Open Sans', sans-serif !important;
}

#navbar-div {
  padding-left: 15px;
  padding-right: 15px;
}

.project-description {
  font-family: inherit;
  border: 0;
  background-color: transparent;
  font-size: 1.8em;
}

.idea-description {
  font-family: inherit;
  font-size: 110%;
  word-wrap: break-word;
  margin-bottom: 0;
  padding: 10px;
}

.comment-body {
  word-wrap: break-word;
  font-size: 90%;
}

.comment-body a {
  color: #337ab7;
}

.comment-row {
  margin-left: -12px;
  margin-right: -12px;
}

.comment-timestamp {
  font-size: 80%;
  margin-bottom: 0;
  padding: 10px;
}

.static-text {
  font-size: 140%;
  line-height: 120%;
}

.static-text h2 {
  font-size: 160%;
  margin-bottom: 20px;
}

h1 small {
  color: white;
}

.project-heading-title-td {
  width: 100%;
}

.project-heading-table a {
  text-decoration: none;
  color: black;
}

.idea-heading-title-td {
  width: 100%;
}

.idea-panel-heading:hover {
  background-color: #f5f5f5;
}

.jumbotron {
  zoom: 0.7;
}

@media (min-width: 550px) {
  .jumbotron {
    zoom: 0.8;
  }

  .idea-list {
    zoom: 0.9;
  }

  .project-list {
    zoom: 0.9;
  }
}

@media (min-width: 768px) {
  .jumbotron {
    zoom: 0.9;
  }

  .idea-list {
    zoom: 1;
  }

  .project-list {
    zoom: 1;
  }

  .idea-description {
    font-size: 120%;
  }

  .comment-body {
    font-size: 100%;
  }

  .comment-row {
    margin-left: -5px;
    margin-right: -5px;
  }

  .comment-timestamp {
    font-size: 88%;
  }

  .static-text {
    font-size: 160%;
  }

  .static-text h2 {
    font-size: 170%;
  }
}

@media (min-width: 992px) {
  .jumbotron {
    zoom: 1;
  }

  .idea-description {
    font-size: 140%;
  }

  .comment-body {
    font-size: 120%;
  }

  .comment-timestamp {
    font-size: 100%;
  }

  .static-text {
    font-size: 180%;
  }

  .static-text h2 {
    font-size: 180%;
  }
}

.popover{
  max-width: 100%;
}

.idea-toolbar{
  padding-top: 7px;
}

.s-alert-box {
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 30px;
  font-size: 16px;
  color: white;
  -webkit-box-shadow: 4px 4px 20px rgba(0,0,0,0.6);
  box-shadow: 4px 4px 20px rgba(0,0,0,0.6);
}

.s-alert-info {
  background-color: #02a5de;
}

.s-alert-success {
  background-color: #4da309;
}

.s-alert-warning {
  background-color: #a54caa;
}

.s-alert-error {
  background-color: #e08b27;
}

.idea-heading-table {
  width: 100%;
  table-layout: fixed;
}

.project-heading-table {
  width: 100%;
  table-layout: fixed;
}

.idea-heading-button-td {
  width: 80px;
}

.idea-heading-badges-td {
  width: 30px;
}

.idea-heading-title-td {
  text-decoration: none !important;
  color: black !important;
}

.idea-heading-toolbar-td {
  width: 65px;
}

.project-heading-toolbar-td {
  width: 190px;
}

.idea-heading-title-td {

}

.comment-table {
  width: 100%;
  table-layout: fixed;
}

.comment-button-td {
  width: 50px;
}

.comment-toolbar-td {
  width: 38px;
}

.comment-timestamp-td {
  width: 20%;
}

.comment-title-td {
  padding-left: 1%;
  padding-right: 1%;
}

#projectHeading h1 {
  font-size: 1.8em;
}

#projectHeading a {
  text-decoration: none;
}

#projectHeading h3 {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .container .jumbotron {
    padding: 10px;
  }
}

@media (min-width: 768px) {
  #projectHeading h1 {
    font-size: 2.1em;
  }

  #projectHeading h3 {
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  .comment-timestamp-td {
    width: 15%;
  }

  #projectHeading h1 {
    font-size: 2.5em;
  }

  #projectHeading h3 {
    font-size: 1.8em;
  }
}

.panel-heading h1 {
  color: white;
}

.project-meta-info {
  font-size: 90%;
  font-style: italic;
  padding-left: 10px;
  padding-top: 5px;
  color: grey;
}

.project-button {
  color: grey;
  font-size: 150% !important;
}

.idea-button {
  color: grey;
  font-size: 150% !important;
}

.comment-button {
  color: grey;
  font-size: 120% !important;
}

.bootbox-confirm {
  top: 15%;
}

.bootbox-confirm .bootbox-body {
  font-size: 180%;
}

.project-state {
  margin-right: 10px;
}

.project-state .btn-default {
  color: LightSlateGray;
}

.inactive-project-list-item {
  background-color: #F9DEDB;
}

a.inactive-project-list-item:hover {
  background-color: #F7D3CF;
}

.btn-toolbar {
  margin-left: 0;
}

.comment-item:hover {
  background-color: #f5f5f5;
}

.idea-panel-heading.own {
  background-color: #DCE9D2;
}

.idea-panel-heading.own:hover {
  background-color: #CBDEBB;
}

.comment-item.own {
  background-color: #DCE9D2;
  border-color: lightgray;
}

.comment-item.own:hover {
  background-color: #CBDEBB;
}

.project-private-selector {
  margin-top: 15px;
}