html {
  position: relative;
  min-height: 100%;
}

body {
  font: 15px/1.3 'Open Sans', sans-serif;
  padding-bottom: 60px;
}

#main-div {
  margin-top: 35px;
  margin-bottom: 35px;
}

.large-input {
  font-size: 20px
}

.comment-input {
  font-size: 16px
}

.idea-heading {
  font-size: 20px;
  padding-top: 7px;
  padding-left: 20px;
  word-wrap: break-word;
}

.input-group-addon {
  min-width:55px;
  text-align:center;
}

.new-comment .input-group-addon {
  min-width:40px;
}

.comments {
  padding-top: 15px;
}

/*#list-body {
  width: 80%;
  margin-top: 10px;
}*/

.comments ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 1%;
  padding-right: 1%;
}

.comments ul li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  overflow: hidden;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer .footer-div {
  margin: 15px 0;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.panel-group .panel {
  overflow: visible;
}

.idea-list {
  margin-top: 30px;
}

.static-text {
  font-size: 140%;
  text-align: justify;
}

.static-text strong {
  font-family: 'Open Sans', sans-serif !important;
}

#navbar-div {
  padding-left: 15px;
  padding-right: 15px;
}

.cell {
  /*display: inline-block;*/
  vertical-align: middle;
  /*float: none;*/
  padding-left: 10px;
  padding-right: 10px;
}

.cell-sm {
  display: inline-block;
  vertical-align: middle;
  float: none;
  padding-left: 7px;
  padding-right: 7px;
}

.idea-content-well {
  margin-bottom: 0;
  padding: 10px;
}

.idea-description {
  font-size: 110%;
  word-wrap: break-word;
}

.comment-body {
  word-wrap: break-word;
  font-size: 90%;
}

.comment-body a {
  color: #337ab7;
}

.comment-row {
  margin-left: -12px;
  margin-right: -12px;
}

@media (min-width: 768px) {
    .idea-description {
      font-size: 120%;
    }

    .comment-body {
      font-size: 100%;
    }

    .comment-row {
      margin-left: -5px;
      margin-right: -5px;
    }
}

@media (min-width: 992px) {
    .idea-description {
      font-size: 140%;
    }

    .comment-body {
      font-size: 120%;
    }

    .comment-row {
      margin-left: 0;
      margin-right: 0;
    }
}

.popover{
  max-width: 100%;
}

.idea-toolbar{
  padding-top: 7px;
}

.s-alert-box {
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 30px;
  font-size: 16px;
  border: 1px solid transparent;
}

.s-alert-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.s-alert-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.s-alert-warning {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.s-alert-error {
  background-color: #d9534f;
  border-color: #d43f3a;
}
