<template name="navbar">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <a href="/" class="navbar-header">
        <div class="navbar-brand" style="padding-right: 50px;">TeamVote</div>
      </a>

      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <div class="collapse nav navbar-nav navbar-collapse navbar-right">
        {{> loginButtons}}
      </div>
    </div>
  </nav>
</template>
