<template name="navbar">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div id="navbar-div">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-header">
        <div class="navbar-brand">TeamVote</div>
      </a>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="/how-it-works/">How It Works</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>

        <div class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </div>
      </div>
    </div>
  </nav>
</template>
